@page
@using Projecto.Receitas.Domain.Model
@model Projecto.Receitas.WebApp.Pages.Receitas.VerMInhasReceitasModel
@{
    ViewData["Title"] = "As minhas Receitas";
}

@section pesquisa
{
    <partial name="_pesquisaIndex" />
}

@section navegacao
{
    <partial name="_navAutenticado" />
}

<div class="container fundo">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <div class="container mt-3" style="min-width:1050px;">
                <div class="row">
                    <div class="col-12">
                        <div class="p-2 bg-dark">
                            <h3 class="text-white text-center">
                                Receitas Criadas Por Mim
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="container_article_minhas">
                            @{

                                int contador = 0;

                                foreach (Receita receita in Model.Receitas)
                                {
                                    <article class="article_principal_minhas">

                                        @if(string.IsNullOrEmpty(receita.ImagemUrl))
                                        {
                                            <img src="~/img/imagens-site/image_not_found.jpg" alt="Receita" />
                                        }
                                        else
                                        {
                                            <img src="~/img/uploads-receitas/@receita.ImagemUrl" alt="Receita" />
                                        }


                                        @if (receita.Estado == TipoDeEstado.Valida)
                                        {
                                            <h4><a asp-page="/Detalhes" asp-route-id="@receita.ReceitaId">@receita.Titulo</a></h4>

                                            <div class="estado">
                                                <a data-bs-toggle="tooltip" title="Receita Válida"><i class="fa-solid fa-check"></i></a>
                                            </div>
                                        }
                                        else if (receita.Estado == TipoDeEstado.Pendente)
                                        {
                                            <h4>@receita.Titulo</h4>

                                            <div class="estado">
                                                <a class="estado_pendente" asp-page="/Receitas/FinalizarAdicionarReceita"
                                                   asp-route-id="@receita.ReceitaId" asp-route-codigo="@Model.Codigo"
                                                   data-bs-toggle="tooltip" title="Receita Pendente"><i class="fa-solid fa-pen-to-square"></i></a>
                                            </div>
                                        }
                                        else if (receita.Estado ==TipoDeEstado.Analise)
                                        {
                                            <h4>@receita.Titulo</h4>

                                            <div class="estado">
                                                <a class="estado_analise" data-bs-toggle="tooltip" title="Receita em Análise"><i class="fa-solid fa-hourglass-start"></i></a>
                                            </div>

                                        }
                                        else if (receita.Estado == TipoDeEstado.Invalida)
                                        {
                                            <h4>@receita.Titulo</h4>

                                            <div class="estado">
                                                <a class="estado_invalido" data-bs-toggle="tooltip" title="Receita Inválida"><i class="fa-solid fa-ban"></i></a>
                                            </div>
                                        }

                                    </article>

                                    contador++;
                                }

                                if (contador%4==1)
                                {
                                    <article class="caixa_branca_minhas">
                                    </article>
                                    <article class="caixa_branca_minhas">
                                    </article>
                                    <article class="caixa_branca_minhas">
                                    </article>
                                }
                                else if (contador%4==2)
                                {
                                    <div class="caixa_branca_minhas">
                                    </div>
                                    <article class="caixa_branca_minhas">
                                    </article>

                                }
                                else if (contador%4==3)
                                {
                                    <div class="caixa_branca_minhas">
                                    </div>
                                }

                            }

                        </div>
                        @if (Model.Id <= Model.MaximoId && Model.Id >= 1)
                        {
                            <div class="ver_mais"><a class="bg-white" asp-page="/Receitas/VerMinhasReceitas" asp-route-id="@Model.Id">Ver Mais</a></div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


