@page
@using Projecto.Receitas.Domain.Model
@model Projecto.Receitas.WebApp.Pages.Administracao.VerReceitasModel
@{
    ViewData["Title"] = "Receitas";
}

@section pesquisa
{
    <div class="pesquisa">
        <form method="get" asp-page="/Administracao/VerReceitas">
            <div class="input-group">
                <input name="texto" type="search" class="form-control" onchange="this.form.submit();" />
                <div class="input-group-append">
                    <button type="submit" class="btn btn-secondary">Pesquisar</button>
                </div>
            </div>
        </form>
    </div>
}

@section navegacao
{
    <partial name="_navAdministracao" />
}

<div class="container fundo_admin pb-5 pt-5 h-100">
    <div class="row">
        <div class="col-12">
            <div class="container">
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-10">
                        <div class="mb-5 p-2 text-center bg-dark text-white rounded largura_tabela_grande">
                            <h3>Receitas</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-10">
                        <p>
                            <a class="text-white p-1 bg-black" asp-page="/Administracao/NovaReceita" asp-route-idPagina="@Model.Id" asp-route-texto="@Model.Texto"
                               data-bs-toggle="tooltip" title="Nova Receita"><i class="fa-solid fa-plus"></i></a>
                        </p>
                        <table class="table table-secondary text-center table-striped table-hover largura_tabela_grande">
                            <thead class="table-dark">
                                <tr>
                                    <th></th>
                                    <th class="p-4">Titulo</th>
                                    <th class="p-4">Tempo P.</th>
                                    <th class="p-4">Estado</th>
                                    <th class="p-4">Dificuldade</th>
                                    <th class="p-4" colspan="3">Acções</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.Receitas !=null)
                                {
                                    foreach (Receita receita in Model.Receitas)
                                    {
                                        <tr>
                                            <td>
                                                @if(string.IsNullOrEmpty(receita.ImagemUrl))
                                                {
                                                    <img class="img-thumbnail imagem_avaliacoes"
                                                         src="~/img/imagens-site/image_not_found.jpg"
                                                         class="card-img" alt="Receita" />
                                                }
                                                else
                                                {
                                                    <img class="img-thumbnail imagem_avaliacoes"
                                                         src="~/img/uploads-receitas/@receita.ImagemUrl"
                                                         class="card-img" alt="Receita" />
                                                }
                                            </td>
                                            <td class="p-2">@receita.Titulo</td>
                                            <td class="p-2">@receita.TempoDePreparacao</td>
                                            <td class="p-2">@receita.Estado</td>
                                            <td class="p-2">@receita.Dificuldade</td>
                                            <td class="p-2">
                                                <a class="text-black" asp-page="/Administracao/AlterarReceita"
                                                   asp-route-idReceita="@receita.ReceitaId"
                                                   asp-route-idPagina="@Model.Id"
                                                   asp-route-texto="@Model.Texto"
                                                   data-bs-toggle="tooltip" title="Editar"><i class="fa-solid fa-pen-to-square"></i></a>
                                            </td>
                                            <td class="p-2">
                                                <a class="text-black" asp-page="/Administracao/ApagarReceita"
                                                   asp-route-idReceita="@receita.ReceitaId"
                                                   asp-route-idPagina="@Model.Id"
                                                   asp-route-texto="@Model.Texto"
                                                   data-bs-toggle="tooltip" title="Apagar a Receita"
                                                   onclick="return confirmIt();"><i class="fa-regular fa-trash-can"></i></a>
                                            </td>
                                            <td class="p-2">
                                                <a class="text-black" asp-page="/Administracao/VerReceita"
                                                   asp-route-idReceita="@receita.ReceitaId"
                                                   asp-route-idPagina="@Model.Id"
                                                   asp-route-texto="@Model.Texto"
                                                   data-bs-toggle="tooltip" title="Ver Receita"><i class="fa-solid fa-image"></i></a>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>

                        @if (Model.Id==0 && Model.MaximoId<1)
                        {
                            <p>@Model.NumeroTotalDeReceitas resultados de @Model.NumeroTotalDeReceitas resultados</p>

                        }
                        else if (Model.Id==0 && Model.MaximoId>=1)
                        {
                            if (Model.NumeroTotalDeReceitas==5)
                            {
                                <p>@Model.NumeroTotalDeReceitas resultados de @Model.NumeroTotalDeReceitas resultados</p>
                            }
                            else
                            {
                                <p>@((1+Model.Id)*5) de @Model.NumeroTotalDeReceitas resultados</p>
                                <ul class="paginacao">
                                    <li id="proximo" class="lista_paginacao">
                                        <a class="link_paginacao" asp-page="/Administracao/VerReceitas" asp-route-texto="@Model.Texto"
                                           asp-route-id="@(Model.Id+1)" onclick="LinkActivo(this,'lista_paginacao_activo')">Próximo »</a>
                                    </li>
                                </ul>
                            }
                        }
                        else if (Model.Id == Model.MaximoId && Model.MaximoId>0)
                        {
                            <p>@Model.NumeroTotalDeReceitas de @Model.NumeroTotalDeReceitas resultados</p>
                            <ul class="paginacao">
                                <li id="anterior" class="lista_paginacao">
                                    <a class="link_paginacao" asp-page="/Administracao/VerReceitas" asp-route-texto="@Model.Texto"
                                       asp-route-id="@(Model.Id-1)" onclick="LinkActivo(this,'lista_paginacao_activo')">« Anterior</a>
                                </li>
                            </ul>
                        }
                        else if (Model.Id>0 && Model.Id<Model.MaximoId)
                        {

                            @if ((Model.Id+1)*5==Model.NumeroTotalDeReceitas)
                            {
                                <p>@((1+Model.Id)*5) de @Model.NumeroTotalDeReceitas resultados</p>
                                <ul class="paginacao">
                                    <li id="anterior" class="lista_paginacao">
                                        <a class="link_paginacao" asp-page="/Administracao/VerReceitas"
                                           asp-route-texto="@Model.Texto" asp-route-id="@(Model.Id-1)"
                                           onclick="LinkActivo(this,'lista_paginacao_activo')">« Anterior</a>
                                    </li>
                                </ul>
                            }
                            else
                            {
                                <p>@((1+Model.Id)*5) de @Model.NumeroTotalDeReceitas resultados</p>
                                <ul class="paginacao">
                                    <li id="anterior" class="lista_paginacao">
                                        <a class="link_paginacao" asp-page="/Administracao/VerReceitas"
                                           asp-route-texto="@Model.Texto" asp-route-id="@(Model.Id-1)"
                                           onclick="LinkActivo(this,'lista_paginacao_activo')">« Anterior</a>
                                    </li>
                                    <li id="proximo" class="lista_paginacao">
                                        <a class="link_paginacao" asp-page="/Administracao/VerReceitas"
                                           asp-route-texto="@Model.Texto" asp-route-id="@(Model.Id+1)"
                                           onclick="LinkActivo(this,'lista_paginacao_activo')">Próximo »</a>
                                    </li>
                                </ul>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


